@{
    ViewBag.Title = "Gallery";
}

<script src="~/Scripts/ajax-image-loader.js"></script>
<script src="~/Scripts/gallery.js"></script>
<script src="~/Scripts/script.js"></script>

<h2>The Fifth Element</h2>

<div id="slider">
    <img src="~/Content/Images/Diva_Plavalaguna.jpg" alt="Diva_Plavalaguna" title="Diva Plavalaguna">
    <img src="~/Content/Images/Korben_Dallas_and_Leeloo.jpg" alt="Korben_Dallas_and_Leeloo" title="Korben Dallas and Leeloo">
    <img src="~/Content/Images/Korben_Dallas_and_Leeloo_with_multipass.jpg" alt="Korben_Dallas_and_Leeloo_with_multipass" title="Korben Dallas and Leeloo with multipass">
    <img src="~/Content/Images/Korben_Dallas_and_mangalores.jpg" alt="Korben_Dallas_and_mangalores" title="Korben Dallas and mangalores">
    <img src="~/Content/Images/Leeloo_with_multipass.jpg" alt="Leeloo_with_multipass" title="Leeloo with multipass">
</div>