<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title - My ASP.NET Application</title>
        <link href="~/Content/style.css" rel="stylesheet" type="text/css"/>
        <script src="~/Scripts/jquery-3.1.1.js"></script>
    </head>

    <body>
        @RenderBody()

        <footer>
            Created by <a href="http://www.github.com/ilia-valchenko" target="_blank" title="Follow me on GitHub">Ilya Valchanka</a>.
        </footer>
    </body>
</html>